<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.qts.thedementiatest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/playstore"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActHome" />
        <activity android:name=".fragment.FrmHome_Examination" />
        <activity android:name=".fragment.FrmHome_Orientation" />
        <activity android:name=".fragment.FrmHome_Attention" />
        <activity android:name=".fragment.FrmHome_Immediate_Recall" />
        <activity android:name=".fragment.FrmHome_Language" />
        <activity android:name=".fragment.FrmHome_Fluidity" />
        <activity android:name=".fragment.FrmHome_Calculation" />
        <activity android:name=".fragment.FrmHome_Delayed_Recall" />
        <activity android:name=".fragment.FrmHome_Judgment" />
        <activity android:name=".fragment.FrmHome_Abstract_Reasoning" />
        <activity android:name=".fragment.FrmHome_Score" />
        <activity android:name=".fragment.FrmAuthor" />
        <activity android:name=".fragment.FrmInstructions" />
        <activity android:name=".fragment.FrmTool" />
        <activity android:name=".fragment.FrmList" />
        <activity android:name=".activity.ActList_ShowDetial"></activity>
    </application>

</manifest>